In [ ]:
%pip install google-cloud-bigquery
%pip install "google-cloud-bigquery[pandas]"
%pip install db-dtypes

In [2]:
from google.cloud import bigquery
import os
os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = "/Users/tanya/Desktop/Data Science Journey/SQL/spheric-passkey-475414-m3-613464412c9f.json"

In [3]:
#we need to create a client object to retrieve information from BigQuery datasets
client = bigquery.Client()

In [4]:
# datasets exist in projects in bigquery. we would like to work with hacker_news dataset contained in bigquery-public-data project
# here we connect to the dataset
dataset_ref = client.dataset("hacker_news", project="bigquery-public-data")


# now let's fetch the dataset
dataset = client.get_dataset(dataset_ref)

In [5]:
# this dataset is like a set of tables. so now let's list those tables 
tables = list(client.list_tables(dataset))

# now we want the names of those tables. each of them has an id and this code shows the names of the tables
for table in tables:
    print(table.table_id)

# there is one table!

full

In [6]:
# Let's open a table now by calling it
# first we construct a reference to the table
table_ref = dataset_ref.table("full")

# then through that reference we fetch the table
table = client.get_table(table_ref)

In [7]:
# let's investigate the table. 
# print information on all the columns

table.schema

#each schemafield holds into about a specific column. 
# first is column name
# second is data type 
# third os mode of the column (nullable means allows null values)
# fourth is description of the data of the column

[SchemaField('title', 'STRING', 'NULLABLE', None, 'Story title', (), None),
 SchemaField('url', 'STRING', 'NULLABLE', None, 'Story url', (), None),
 SchemaField('text', 'STRING', 'NULLABLE', None, 'Story or comment text', (), None),
 SchemaField('dead', 'BOOLEAN', 'NULLABLE', None, 'Is dead?', (), None),
 SchemaField('by', 'STRING', 'NULLABLE', None, "The username of the item's author.", (), None),
 SchemaField('score', 'INTEGER', 'NULLABLE', None, 'Story score', (), None),
 SchemaField('time', 'INTEGER', 'NULLABLE', None, 'Unix time', (), None),
 SchemaField('timestamp', 'TIMESTAMP', 'NULLABLE', None, 'Timestamp for the unix time', (), None),
 SchemaField('type', 'STRING', 'NULLABLE', None, 'type of details (comment comment_ranking poll story job pollopt)', (), None),
 SchemaField('id', 'INTEGER', 'NULLABLE', None, "The item's unique id.", (), None),
 SchemaField('parent', 'INTEGER', 'NULLABLE', None, 'Parent comment ID', (), None),
 SchemaField('descendants', 'INTEGER', 'NULLABLE', None, 'Number of story or poll descendants', (), None),
 SchemaField('ranking', 'INTEGER', 'NULLABLE', None, 'Comment ranking', (), None),
 SchemaField('deleted', 'BOOLEAN', 'NULLABLE', None, 'Is deleted?', (), None)]

In [8]:
# let's have a look at the first five rows of the full table

client.list_rows(table, max_results = 5).to_dataframe()

,title,url,text,dead,by,score,time,timestamp,type,id,parent,descendants,ranking,deleted
0,None,None,None,True,Adoum_Tech,2,1713995025,2024-04-24 21:43:45+00:00,story,40150086,<NA>,<NA>,<NA>,<NA>
1,None,None,None,True,belter,2,1713995286,2024-04-24 21:48:06+00:00,story,40150135,<NA>,<NA>,<NA>,<NA>
2,None,None,None,True,Rinzler89,1,1713995678,2024-04-24 21:54:38+00:00,story,40150207,<NA>,<NA>,<NA>,<NA>
3,None,None,None,True,stockstobuynow,1,1713995704,2024-04-24 21:55:04+00:00,story,40150212,<NA>,<NA>,<NA>,<NA>
4,None,None,None,True,FLMAN407,1,1713995772,2024-04-24 21:56:12+00:00,story,40150229,<NA>,<NA>,<NA>,<NA>

In [9]:
# the method above also lets us to have information of a specific column
client.list_rows(table, selected_fields = table.schema[:1], max_results = 5).to_dataframe()

  title
0  None
1  None
2  None
3  None
4  None